@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
#logo{
    height: 70px;
    width: 70px; 
    margin-right: 600px;
 }
.ul{
    display: flex;  
    margin-top: 40px;
    justify-content: space-evenly;
   padding-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
} 
.image{
     background-image: url("images/firstimg.png");
     width: 100%;
     height: 100%;
}
.form1{
    background: rgb(30 , 30, 30);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    width: 15%;
    height: 300px;
    padding: 50px;
    margin-top:120px;
    margin-left: 70px;
    border-left: 6px solid red;
    position: absolute;
    top: 12%;
}
.form1 button{
    color: red;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    margin-top: 30px;
}
.form1 button:hover{
    color: white;
    background-color: red;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
}
.form1 input {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent; 
    border-bottom: 3px solid red;
}
.b{
    padding-top: 15px;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.gcontainer{
    display:grid;
    background-color: aliceblue;
    height: 80vh;
    /* padding: 5%; */
}
.pabout{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 150%; 
    width: 300px;
    padding-left: 50px;
    padding-top: 100px;
}
.leftimg{
    position: absolute;
    padding-left: 35%;
    padding-top: 50px;
}
.container2{
    display: flex;
    gap: 20px;
   
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(251,251,251,255);
}
.box:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(251,251,251,255);
    /* border: 2px solid red; */
    /* box-shadow: 5px 5px 5px red; */
}
.box img {
    width: 500px;
    
}
h3{
    color: black;
    font-weight: 100%;
    text-shadow: 5px 5px 5px wheat;
}
.booknow{
    color:  red;
    background-color: white ;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    margin-top: 30px;
}
.booknow:hover{
    color: white;
    background-color: red;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
}
.a1{
    color: black;
}
.a1:hover{
    color: black;

}
p{
    line-height: 150%;
}
.title{
   height: 40%;
}
/* gallery 1 && gallery 3*/
.container3{
display: grid;
grid-template-columns: 25% 25% 25% 25%;
grid-gap: 30px;
justify-content: center;
justify-items: center;
}
.gbox img{
    width: 300px;
}
.gbox img:hover{
    /* width: 400px; */
    transform: scale(1.5);
    transition: 2s;
}
.gbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title1{
    height: 50px;
    background-color: aliceblue;
 }

 /* gallery 2 */
 .container4{
    display: grid;
    grid-template-columns: 32% 35% 32%;
    grid-gap: 30px;
    justify-content: center;
    justify-items: center;
    }
    .gbox1 img{
        width: 400px;
    }
    .gbox1 img:hover{
         /* width: 250px;  */
        transform: scale(1.5);
        transition: 2s;
    }
    .gbox1{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        margin-left: 60px;
    }    
    /* tech */
    .container5{
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 30px;
    justify-content: center;
    justify-items: center;
    background-color: whitesmoke;
    height: 500px;
    }
    .gbox5{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        /* margin-right: 60px;  */
        line-height: 50px;
    }    
    h4{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .title2{
        height: 150px;
    }
    .border{
       border-top: 2px solid gray;
    }
    .p2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
/* subscribe */
.subscribe{
    height: 500px;
    background-color: rgba(245, 245, 245, 0.39);
    

}
.p3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}
.pp{
    padding-left: 25%;padding-right: 25%;
}
.subbtn{
    background-color: red;
    color: white;
    padding: 20px;
    width: 300px;
    font-size: large;
}
.subscribe input{
    height: 58px;
    width: 300px;
    border: 2px solid black;
    font-size: large;
}
.subscribe ::placeholder{
    font-size: medium;
    padding: 10px;
}
.down{
    padding-top: 100px;
}
/* footer */

.fcointainer{
    background-color: rgba(0, 0, 0, 0.906);
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;

}
.fbox{
  color: rgba(255, 255, 255, 0.719);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.d{
    color: rgba(255, 255, 255, 0.703);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100%;
    font-size: 50px;
    font-style: italic;
}
.lb{
border-right: 5px solid white;
height: 100%;
}
span{
    color: rgba(255, 255, 255, 0.703);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-style: oblique;
}
.fcointainer2{
    background-color: rgba(0, 0, 0, 0.906);
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}
/* About page */
.about{
    display: grid;
    align-items: center;
    justify-content: center;

}
.txt{
    color: black;
   
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.about img{
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 1500px;
}
.content{
        display: grid;
        grid-template-columns: 20% 60% 20% ;
        grid-gap: 30px;
        justify-content: center;
        justify-items: center;
   
}
.bc{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.bcp{
    color: black;
    text-align: center;
    font-size: large;
}